.ticket-item {
  position: relative;
  width: 100%;
  max-width: 480px;
  background: #fff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content 1fr max-content;
  border-radius: 0 0 15px 15px;
}

.ticket-item__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .7);
  border-radius: 0 0 15px 15px;
  box-sizing: border-box;
  padding: 0 50px;
}

.ticket-item::before,
.ticket-item::after,
.ticket-item__wrapper::before,
.ticket-item__wrapper::after {
  content: '';
  position: absolute;
  bottom: 214px;
  display: block;
  width: 30px;
  height: 40px;
  background: #080a1e;
  border-radius: 20px;
}

.ticket-item::before,
.ticket-item__wrapper::before {
  left: -15px;
}

.ticket-item::after,
.ticket-item__wrapper::after {
  right: -15px;
}

.ticket-item__wrapper-text {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 65px;
  line-height: 97px;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

.ticket-item__header {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  background: #1D38DE;
  box-sizing: border-box;
  padding: 0 30px;
}

.ticket-item__title {
  font-weight: bold;
  font-size: 28px;
  line-height: 42px;
  margin: 0;
}

.ticket-item__list_date {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 65px;
  margin: 0;
}

.ticket-item__list_desc {
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 0 60px;
}

.ticket-item__list_date .ticket-item__item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
  color: #021067;
  border-bottom: 1px solid #C4C4C4;
}

.ticket-item__list_desc .ticket-item__item {
  font-weight: normal;
  font-size: 20px;
  line-height: 1.5;
  color: #021067;
}

.ticket-item__list_date .ticket-item__item:first-child {
  border-right: 1px solid #c4c4c4;
}

.ticket-item__block_bottom {
  height: 235px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, max-content);
  grid-gap: 40px;
  align-content: center;
  justify-items: center;
  box-sizing: border-box;
  border-top: 2px dashed #C7C7C7;
}

.ticket-item__barcode {
  display: block;
  width: 320px;
  height: 50px;
  object-fit: cover;
}

.ticket-item__btn {
  width: 290px;
  height: 65px;
  border-radius: 6.5px;
  font-size: 28px;
  line-height: 42px;
}

.ticket-item_sold .ticket-item__btn {
  background: #5350ff;
  color: #fff;
  box-shadow: none;
}

@media screen and (max-width: 910px) {
  .ticket-item:nth-child(2) {
    grid-row: 3;
  }
}

@media screen and (max-width: 550px) {
  .ticket-item__barcode {
    width: 80%;
  }

  .ticket-item__btn {
    width: 75%;
    height: 65px;
  }
}