.release {
  width: 100%;
  display: flex;
  justify-content: center;
  background-size: cover;
}

.release__container {
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  padding: 110px 95px 80px;
}

.release__title {
  font-weight: 600;
  font-size: 45px;
  line-height: 67px;
  margin: 0 0 65px;
}

.release__block_content {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: end;
  justify-content: center;
  grid-gap: 0 45px;
  margin-bottom: 70px;
}

.release__block_quote {
  max-width: 810px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  background: rgba(25, 25, 25, 0.4);
  backdrop-filter: blur(14px);
  border-radius: 30px 30px 30px 0px;
  box-sizing: border-box;
  padding: 17.5px 15px;
}

.release__block_bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.release__image {
  width: 160px;
  height: 160px;
  object-fit: cover;
}

.release__quote {
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  margin: 0;
}

.release__line {
  width: 100%;
  height: 2px;
  display: block;
  background: rgba(255, 255, 255, 0.4);
  border: none;
}

.release__list {
  display: grid;
  align-items: center;
}

.release__list_founder {
  grid-template-columns: repeat(2, max-content);
  grid-gap: 0 30px;
  margin: 0;
  padding: 0;
}

.release__list_founder .release__list-item:first-child {
  list-style-type: none;
  font-weight: 400;
  font-size: 18.5px;
  line-height: 1.4;
}

.release__list_team {
  position: relative;
  grid-template-columns: repeat(7, 45px);
  margin: 0;
  padding: 0;
}

.release__text {
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  color: #C1C1C1;
  margin: 0;
}

.release-item:last-child {
  width: 66px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid rgba(252, 252, 252, .8);
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  color: #C1C1C1;
  margin-left: 10px;
}

@media screen and (max-width: 1440px) {
  .release__container {
    padding: 40px 25px 55px;
  }
  
  .release__title {
    margin: 0 0 60px;
  }
  
  .release__block_content {
    grid-gap: 0 20px;
    margin-bottom: 100px;
  }

  .release__block_quote {
    border-radius: 15px 15px 15px 0px;
    padding: 5px 7px;
  }

  .release__image {
    width: 70px;
    height: 70px;
  }
  
  .release__quote {
    font-size: 27px;
    line-height: 41px;
  }
  
  .release__list_founder .release__list-item:first-child {
    font-size: 17px;
  }

  .release__list_team {
    grid-template-columns: repeat(7, 32px);
  }
  
  .release__text {
    font-size: 17px;
    line-height: 26px;
  }
  
  .release-item:last-child {
    width: 45px;
    height: 45px;
    font-size: 21px;
    line-height: 32px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 768px) {
  .release__container {
    padding: 45px;
  }
  
  .release__title {
    margin: 0 0 40px;
  }
  
  .release__block_content {
    grid-gap: 0 13px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 550px) {
  .release__container {
    padding: 35px 30px;
  }
  
  .release__title {
    margin: 0 0 30px;
  }
  
  .release__block_content {
    grid-gap: 0 13px;
    margin-bottom: 40px;
  }

  .release__image {
    width: 58px;
    height: 58px;
  }

  .release__quote {
    font-size: 23px;
    line-height: 35px;
  }

  .release__list_founder .release__list-item:first-child {
    font-size: 14.5px;
  }
}