.for-whom {
  width: 100%;
  display: flex;
  justify-content: center;
}

.for-whom__container {
  max-width: 1440px;
  box-sizing: border-box;
  padding: 125px 95px 110px;
}

.for-whom .title {
  margin-bottom: 100px;
}

.for-whom__list {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  grid-gap: 180px 0;
  margin: 0;
}

@media screen and (max-width: 1440px) {
  .for-whom__container {
    padding: 100px 25px 70px;
  }
  
  .for-whom .title {
    margin-bottom: 60px;
  }
  
  .for-whom__list {
    grid-gap: 50px 0;
  }
}

@media screen and (max-width: 768px) {
  .for-whom__container {
    padding: 70px 45px 100px;
  }
  
  .for-whom__list {
    grid-gap: 100px 0;
  }
}

@media screen and (max-width: 550px) {
  .for-whom__container {
    padding: 70px 25px 90px;
  }
  
  .for-whom__list {
    grid-gap: 90px 0;
  }
}