.menu__block {

}

.menu__block_top {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  grid-gap: 20px;
}

.menu__list {
  margin: 0;
}

.menu__list .header__item-link {
  font-weight: 600;
  font-size: 29px;
  line-height: 1.75;
}

.menu__block_bottom {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
  grid-gap: 30px;
}

.menu__block_bottom .modal__block_social {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
  grid-gap: 30px;
}

.menu__link-block {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
  grid-gap: 15px;
  margin: 0;
}

.menu__block_bottom .keep__link {
  font-weight: 500;
  font-size: 18px;
}

.menu__block_bottom .keep__link_phone {
  font-size: 20px;
}