.header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-size: cover;
}

.header__container {
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  padding: 0 95px;
}

.header__block_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 55px;
  box-sizing: border-box;
  padding: 30px 0;
}

.header__block_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.header__block__bottom {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, max-content);
  grid-gap: 30px;
}

.header__block__btn {
  max-width: 790px;
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  grid-gap: 50px;
}

.header__logo-title {
  font-weight: bold;
  font-size: 35px;
  line-height: 1.4;
  margin: 0;
}

.header__logo-title span {
  font-weight: 400;
}

.header__block_right .header__btn {
  height: 40px;
  width: 130px;
  border-radius: 3.5px;
  font-size: 16.5px;
  line-height: 25px;
}

.header__list {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  align-items: center;
  grid-gap: 55px;
  margin: 0;
}

.header__item-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  margin: 0;
  cursor: pointer;
}

.header__content {
  display: grid;
  grid-template-columns: 1fr;
  box-sizing: border-box;
  padding: 100px 0;
}

.header .title {
  margin-left: 0;
  margin-bottom: 5px;
}

.header__subtitle {
  max-width: 790px;
  font-weight: 500;
  font-size: 45px;
  line-height: 1.4;
  margin: 0 0 30px;
}

.header__date {
  font-size: 32px;
  line-height: 48px;
  color: #CACACA;
  margin: 0;
}

.header__content .header__btn {
  height: 75px;
  min-width: 250px;
  border-radius: 6.5px;
  font-size: 32px;
  line-height: 48px;
  box-sizing: border-box;
  padding: 0 32px;
}

.header__btn-menu {
  display: none;
  background: transparent;
}

.header__btn-menu svg {
  width: 32px;
  height: 25px;
}

.header__btn-menu svg path {
  stroke: #fff;
  stroke-width: 3.5px;
}

.header__btn-lang {
  background: transparent;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  color: #fff;
  text-transform: uppercase;
}

.header__btn-watch {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  grid-gap: 20px;
  background: transparent;
  font-weight: 500;
  font-size: 31px;
  line-height: 1.4;
  color: #CACACA;
  margin: 0 auto 30px;
}

.header__btn-watch svg {
  width: 42px;
  height: 42px;
}

.header__btn-watch svg path {
  fill: #CACACA;
}

@media screen and (max-width: 1440px) {
  .header__container {
    padding: 0 25px;
  }

  .header__block_top {
    padding: 25px 0;
  }

  .header__block__bottom {
    grid-gap: 20px;
  }

  .header__logo-title {
    font-size: 28px;
  }

  .header__content {
    padding: 75px 0 100px;
  }
  
  .header__subtitle {
    font-size: 30px;
    margin: 0 0 20px;
  }

  .header__content .header__btn {
    height: 65px;
  }
  
  .header__date {
    font-size: 23px;
    line-height: 35px;
  }
}

@media screen and (max-width: 930px) {
  .header__list,
  .header__block_right .header__btn {
    display: none;
  }

  .header__btn-menu {
    display: block;
  }
  
  .header__btn-menu svg {
    width: 28px;
    height: 21px;
  }
  
  .header__btn-menu svg path {
    stroke-width: 3.5px;
  }
}

@media screen and (max-width: 768px) {
  .header__container {
    padding: 0 50px;
  }

  .header__content {
    grid-template-columns: 1fr;
    grid-gap: 0;
    padding: 80px 0;
  }

  .header__block__btn {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .header__content .header__btn {
    border-radius: 5.5px;
    font-size: 28px;
    line-height: 42px;
  }

  .header__date {
    grid-row: 1;
  }
}

@media screen and (max-width: 550px) {
  .header__container {
    padding: 0 25px;
  }

  .header__block_top {
    padding: 45px 0;
  }

  .header__logo-title {
    font-size: 26px;
  }

  .header__content {
    padding: 30px 0 95px;
  }

  .header__subtitle {
    font-size: 25px;
  }

  .header__block__btn {
    grid-gap: 28px;
  }

  .header__content .header__btn {
    height: 47px;
    width: 195px;
    border-radius: 5px;
    font-size: 24px;
    line-height: 36px;
  }

  .header__btn-menu svg {
    width: 23px;
    height: 17.5px;
  }
  
  .header__btn-menu svg path {
    stroke-width: 3px;
  }

  .header__date {
    font-size: 16px;
    line-height: 24px;
  }

  .header__btn-watch {
    grid-gap: 14px;
    font-size: 24px;
  }

  .header__btn-watch svg {
    width: 31px;
    height: 31px;
  }
}