.keep {
  width: 100%;
  display: flex;
  justify-content: center;
}

.keep__container {
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  padding: 140px 95px 210px;
}

.keep .title {
  margin-bottom: 65px;
}

.keep__block_content {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  grid-gap: 50px 35px;
}

.keep__date {
  max-width: 570px;
  font-size: 44px;
  line-height: 1.4;
  color: #DFDFDF;
  margin: 0;
}

.keep__text, .keep__link {
  font-size: 36px;
  line-height: 1.4;
  margin: 0;
}

.keep__text, .keep__link {
  font-weight: 700;
}

.keep__link {
  font-weight: 400;
  color: #fff;
}

.keep__list {
  grid-column: 2;
  grid-row: 1/3;
  display: grid;
  grid-template-columns: repeat(3, 90px);
  grid-template-rows: repeat(2, 90px);
  justify-items: center;
  align-items: center;
  grid-gap: 70px 90px;
  margin: 0;
}

.keep__list_ru {
  grid-template-columns: repeat(2, 90px);
}

@media screen and (max-width: 1440px) {
  .keep__container {
    padding: 50px 25px 130px;
  }

  .keep__date, .keep__text, .keep__link {
    font-size: 27.5px;
  }

  .keep__list {
    grid-template-columns: repeat(3, 65px);
    grid-template-rows: repeat(2, 65px);
    grid-gap: 60px 70px;
  }

  .keep__list_ru {
    grid-template-columns: repeat(2, 65px);
  }
}

@media screen and (max-width: 768px) {
  .keep__container {
    padding: 60px 45px 90px;
  }

  .keep__block_content {
    grid-template-columns: 1fr;
    grid-gap: 24px;
  }

  .keep__list {
    grid-column: 1;
    grid-row: 3;
    justify-content: center;
    margin-top: 68px;
  }
}

@media screen and (max-width: 550px) {
  .keep__container {
    padding: 50px 45px 90px;
  }

  .keep__block_content {
    grid-gap: 60px;
  }

  .keep__date, .keep__text, .keep__link {
    font-size: 23px;
  }

  .keep__list {
    grid-template-columns: repeat(3, 55px);
    grid-template-rows: repeat(2, 55px);
    grid-gap: 50px 60px;
  }

  .keep__list_ru {
    grid-template-columns: repeat(2, 55px);
  }

  .keep__list {
    margin-top: 0;
  }
}